<section>
  {{#if comment.length}}
{{#each comments as |comment| }}
<div class="row align-center mb-5">



  <div class="col-md-6">
    <h2> {{comment.name}}</h2>
        </div>

{{/each}}
    </div>
{{/if}}
</section>
